#Table{
    /* border: solid 1px black; */
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
#Table td{
    /* border: solid 1px black; */
    padding: 5px 10px;
}
#Table > thead td:first-child{
background-color: #7887ab;
color: white;
font-weight: bold;
}
#Table > thead td:nth-child(2){
  background-color: #4f628e;  
  color: white;
}
#Table > thead td:nth-child(3){
 background-color: #2e4172; 
 color: white;
}
#Table > thead td:nth-child(4){
  background-color: #162955;
  color: white;  
}
#Table > thead td:last-child{
   background-color: #061539;
   color: white;
}
/* #Table > tbody tr:nth-child(2n+1){
    background-color: #dbdbdb ; 
 } */
 #Table > tbody tr:nth-child(odd) td:nth-child(odd) {
	background: #dbdbdb;
}
#Table > tbody tr:nth-child(odd) td:nth-child(even) {
	background: #e7e7e7;
}
#Table > tbody tr:nth-child(even) td:nth-child(odd) {
	background: #e7e7e7;
}
#Table > tbody tr:nth-child(even) td:nth-child(even) {
	background: #f3f3f3;
}

 #Table > tbody tr:nth-child(even) td:nth-child(even) {
	background: #f3f3f3;
} 
#Table > tfoot tr:nth-child(odd) td:nth-child(odd) {
	background: #dbdbdb;
}
#Table > tfoot tr:nth-child(odd) td:nth-child(even) {
	background: #e7e7e7;
}
.left{
  text-align: left;
}
#Table > tfoot button{
  background-color: #dbdbdb;
  width: 70px;
  height: 25px;
}
.size{
  font-size: 30px;
  font-weight: bold;
}
